@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #2e948a;
  display: flex;
  justify-content: space-around;
  height: 18vh;
}

main {
  width: 100vw;
  height: 62.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  padding: 1rem;
}

.container p {
  text-align: justify;
  text-indent: 2.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 2rem;
}

nav li a {
  font-family: "Ubuntu";
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
}




@media (max-width: 480px) {
  main {
    width: 100vw;
    height: 72vh;
  }
}
























footer {
  background-color: #2e948a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.footer-logo {
  display: flex;
  color: #fff;
  gap: 1rem;
}

.footer-logo h2 {
  font-size: 4.125rem;
}

.footer-menus ul {
  display: block;
}

.footer-menus li {
  margin: 1rem;
}

.footer-menus a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0;
  border: 2px solid #fff;
  text-align: center;
  padding: 0.2rem 2rem;
  border-radius: 3.8rem;
}

@media (max-width: 425px) {
  header {
    width: 100vw;
    background-color: #2e948a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 0.3rem;
    font-weight: 700;
  }

  header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h2 {
    font-size: 2rem;
    color: #fff;
  }

  .banner {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
  }

  .banner img {
    width: 13rem;
  }

  .banner-texto {
    text-align: center;
  }

  .banner-texto h1 {
    font-size: 2rem;
    color: #ff4081;
    font-weight: bold;
    margin: 1rem;
  }

  .banner-texto p {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
    margin: 1rem;
  }

  .banner-texto a {
    font-size: 1rem;
    color: #ff4081;
    text-decoration: none;
    border: 2px solid #ff4081;
    margin: 1rem;
    padding: 0.3rem 2.5rem;
    border-radius: 3.8rem;
    width: 90%;
  }

  .cursos {
    width: 100vw;
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 0.2rem;
    box-sizing: border-box;
  }

  .curso-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    text-align: center;
    margin: 2rem;
  }

  #img1 {
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }
  #img2 {
    width: 16.7rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }
  #img3 {
    width: 15.7rem;
    height: 17.3rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }

  #img4 {
    width: 15rem;
  }
  .curso-item h2 {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff4081;
  }

  .curso-item p {
    font-family: "Ubuntu";
    font-size: 0.75rem;
    font-weight: 300;
    color: #000;
    text-align: justify;
    padding: 0.3rem;
  }

  .curso-item a {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #ff4081;
    border-radius: 3.8rem;
    padding: 0.5rem 3rem;
    margin: 1rem;
  }

  .depoimentos {
    width: 100vw;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .depoimentos h2 {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: #009688;
    margin-bottom: 1rem;
    text-align: center;
  }

  .users {
    gap: 0;
  }
  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .user img {
    border: 2px solid #ff4081;
    border-radius: 5rem;
    margin: 1rem;
    padding: 0.3rem;
  }

  .user p {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    text-align: left;
  }

  .wrapper-posts {
    background-color: #f6f6f6;
    display: flex;
    margin: 0;
  }

  .wrapper-posts .posts {
    width: 90vw;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper-posts h2 {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: #009688;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .wrapper-posts a {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #ff4081;
    border: 2px solid #ff4081;
    border-radius: 3.8rem;
    padding: 0.5rem 3rem;
    margin: 1rem;
    background-color: transparent;
    width: 90%;
  }

  .post-item h2 {
    text-align: center;
  }
  footer {
    width: 100vw;
    background-color: #009688;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }

  footer a {
    color: #fff;
    display: flex;
  }

  .footer-logo {
    display: flex;
  }
  .footer-logo img {
    width: 4rem;
  }

  .footer-logo h2 {
    font-size: 1.5rem;
  }
  .footer-menus ul {
    display: block;
  }

  .footer-menus li {
    margin: 1rem;
  }

  .footer-menus a {
    font-size: 0.9rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer-links a {
    width: 7rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0.2rem;
    border: 1px solid #fff;
    padding: 0.2rem 0.1rem;
    border-radius: 3.8rem;
  }
}

@media (max-width: 768px) {
  .banner img {
    width: 60%;
  }
  .post-item h2 {
    font-size: 1.25rem;
    text-align: center;
  }
  .wrapper-posts h2 {
    padding: 2rem 0 0 0;
  }
}

@media (max-width: 768px) {
  #img1 {
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }
  #img2 {
    width: 16.7rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }
  #img3 {
    width: 15.7rem;
    height: 17.3rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }
}
